---
import { Image } from "astro:assets";
import heroImage from "@assets/images/hero.png";
import heroShape from "@assets/icons/hero-shape.svg";

console.log(heroImage.width);
---

<section id="hero" class="container pb-[75px] pt-[112px] xl:pt-[130px]">
  <div
    class="flex items-center justify-between gap-[68px] max-md:flex-col md:gap-[42px]"
  >
    <div class="w-full max-w-sm lg:max-w-xl xl:max-w-3xl">
      <h2 class="font-montserrat text-lg lg:text-xl">
        Hi 👋 I’m <span class="font-bold text-accent">Zidan Abraham</span>.
      </h2>
      <h1 class="mb-[30px] mt-[10px] text-xl font-semibold lg:text-2xl">
        Passionate full-stack developer eager to assist
      </h1>
      <a
        href="/#projects"
        aria-label={`View Portfolio Button`}
        class="group flex w-full items-center justify-center gap-[6px] rounded-[42px] bg-secondary px-[26px] py-4 text-center font-montserrat font-medium transition-all duration-150 ease-in-out hover:bg-accent hover:text-dark md:w-fit md:px-[42px] lg:px-[68px]"
      >
        View Portfolio
        <svg
          width="20"
          height="20"
          viewBox="0 0 20 20"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M15.8333 12.5L14.6583 11.325L10.8333 15.1416V1.66663H9.16663V15.1416L5.34163 11.3166L4.16663 12.5L9.99996 18.3333L15.8333 12.5Z"
            fill="currentColor"
            class="text-light transition-all duration-150 ease-in-out group-hover:text-dark"
          ></path>
        </svg>
      </a>
    </div>
    <div class="relative">
      <Image
        src={heroShape}
        alt="hero shape"
        class="absolute -left-[100px] -top-12 -z-10 blur-[80px]"
        loading="eager"
      />
      <div
        class="frame-purple flex w-fit items-center justify-center rounded-2xl"
      >
        <Image
          src={heroImage}
          alt="hero"
          widths={[350, 450, 500, 400, heroImage.width]}
          sizes={`(max-width: 375px) 350px, (max-width: 475px) 450px, (max-width: 767px) 500px, (max-width: 1024px) 400px, ${heroImage.width}px`}
          class="rounded-[inherit]"
          loading="eager"
          quality="max"
        />
      </div>
    </div>
  </div>
</section>
