---
import Heading from "@components/Heading/index.astro";
import CardExpertise from "@components/Card/CardExpertise.tsx";
import { EXPERTISE } from "@constants/index.ts";
---

<section id="expertise" class="container py-[75px]">
  <Heading
    emoji="💪"
    headline="My Expertise"
    subheadline="Crafting seamless digital experiences from design to deployment"
    position="center"
  />

  <div
    class="mt-[68px] flex w-full flex-wrap items-center justify-center gap-[42px] max-md:flex-col lg:justify-between"
  >
    {EXPERTISE.map((exp) => <CardExpertise {...exp} />)}
  </div>
</section>
