@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Poppins", system-ui, sans-serif;
    @apply bg-dark text-light;
  }
}

@layer components {
  @property --gradient-angle {
    syntax: "<angle>";
    initial-value: -45deg;
    inherits: false;
  }

  .frame-green {
    @apply relative;
  }

  .frame-green::before,
  .frame-green::after {
    content: "";
    position: absolute;
    inset: -3px;
    z-index: -1;
    border-radius: inherit;
    background: linear-gradient(var(--gradient-angle), #0f0920, #00c7a2);
    animation: rotation 5s linear infinite;
    transition: all 300ms ease-in-out;
  }

  .frame-green:hover::before,
  .frame-green:hover::after {
    background: linear-gradient(var(--gradient-angle), #0f0920, #7746de);
  }

  .frame-green::after {
    @apply blur-[6px] transition-[filter] duration-300 ease-in-out;
  }

  .frame-green:hover::after {
    @apply blur-[10px];
  }

  .frame-purple {
    @apply relative;
  }

  .frame-purple::before,
  .frame-purple::after {
    content: "";
    position: absolute;
    inset: -3px;
    z-index: -1;
    border-radius: inherit;
    background: linear-gradient(var(--gradient-angle), #0f0920, #7746de);
    animation: rotation 5s linear infinite;
    transition: all 300ms ease-in-out;
  }

  .frame-purple:hover::before,
  .frame-purple:hover::after {
    background: linear-gradient(var(--gradient-angle), #0f0920, #f9f9f9);
  }

  .frame-purple::after {
    @apply blur-[6px] transition-[filter] duration-300 ease-in-out;
  }

  .frame-purple:hover::after {
    @apply blur-[10px];
  }

  @keyframes rotation {
    0% {
      --gradient-angle: -45deg;
    }
    100% {
      --gradient-angle: 315deg;
    }
  }
}

@layer utilities {
  .container {
    @apply m-auto min-h-fit w-full max-w-screen-wide px-[26px] xl:px-[42px];
  }

  .slide {
    @apply visible p-[68px] opacity-100;
  }

  .links {
    @apply relative duration-100;
  }

  .links::after {
    content: "";
    @apply absolute -bottom-0.5 left-0 h-[2px] w-0 bg-dark transition-all duration-300 ease-in-out hover:w-[110%] xl:bg-accent;
  }

  .hamburger > span:first-child {
    @apply top-0 rotate-[38deg] bg-secondary;
  }

  .hamburger > span:last-child {
    @apply bottom-0 w-full -rotate-[38deg] bg-secondary;
  }
}
