---
import { Image } from "astro:assets";
import profileImage from "@assets/images/profile-image.png";
---

<section id="about" class="container py-[75px]">
  <div
    class="flex w-full items-center justify-center gap-[50px] max-lg:flex-col lg:items-stretch xl:gap-[100px]"
  >
    <div
      class="frame-green group flex h-fit w-full max-w-[470px] items-center justify-center rounded-2xl"
    >
      <Image
        src={profileImage}
        alt="my candid profile"
        class="rounded-[inherit]"
        loading="eager"
        quality="max"
      />
      <svg
        width="433"
        height="464"
        viewBox="0 0 433 464"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="absolute -left-[50px] -top-[100px] -z-10 w-full blur-[80px] md:-top-[50px]"
      >
        <path
          d="M382.632 174.957C382.632 286.724 494.334 462.899 382.632 462.899C270.929 462.899 31.6131 472.767 31.6131 361C31.6131 249.233 -54.391 0 57.3113 0C169.014 0 382.632 63.1904 382.632 174.957Z"
          fill="currentColor"
          class="text-accent transition-all duration-150 ease-in-out group-hover:text-primary"
        ></path>
      </svg>
    </div>

    <div class="w-full max-w-xl">
      <div>
        <h2 class="font-semibold text-accent md:text-lg">About Me</h2>
        <h1 class="mt-[5px] text-lg font-bold md:mt-[10px] md:text-xl">
          👋 Hi There, I’m Zidan!
        </h1>
      </div>
      <div
        class="mt-[20px] flex flex-col gap-[20px] font-montserrat md:mt-[30px] md:gap-[30px]"
      >
        <p class="font-medium md:text-lg">
          I am a 19-year-old full-stack developer from Bali, Indonesia.
        </p>
        <p class="text-base">
          I'm passionate about making websites and helping others with their web
          projects. As a full-stack developer, I enjoy solving problems and
          bringing ideas to life, whether it's making websites look great or
          ensuring they work smoothly behind the scenes. I'm here to make the
          web a better place.
        </p>
        <p class="text-base">
          When I'm not coding, you'll find me sipping coffee, catching up on
          anime or movies, and staying active with calisthenics exercises.
        </p>
      </div>
    </div>
  </div>
</section>
