---
interface Props {
  emoji?: string;
  headline: string;
  subheadline: string;
  position: "left" | "center" | "right";
}

const { emoji, headline, subheadline, position = "center" } = Astro.props;
---

<div class={`text-${position}`}>
  <h2 class="md:text-6xl lg:text-9xl text-4xl z-[2] font-semibold">
    {emoji}
    <span class="relative">
      {headline}
      <div
        class="absolute -left-1 bottom-2 -z-[10] h-[20px] w-full -rotate-[0.7deg] bg-gradient-to-r from-secondary to-dark xl:-left-2 xl:bottom-3 xl:h-[26px]"
      >
      </div>
    </span>
  </h2>
  <p class="mt-2 font-montserrat font-light lg:mt-4 lg:text-lg">
    {subheadline}
  </p>
</div>
