---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Zidan Abraham">
  <main class="flex min-h-screen min-w-full items-center justify-center">
    <h1
      class="from-secondary to-accent bg-gradient-to-r bg-clip-text text-3xl font-bold text-transparent"
    >
      Zidan Abraham
    </h1>
  </main>
</Layout>
