---
import Layout from "@layouts/Layout.astro";
import Hero from "@components/Hero/index.astro";
import Expertise from "@components/Expertise/index.astro";
---

<Layout title="Zidan Abraham">
  <main class="relative w-full overflow-hidden">
    <Hero />
    <Expertise />
  </main>
</Layout>
