---
import Layout from "@layouts/Layout.astro";
import Hero from "@components/Hero/index.astro";
import Expertise from "@components/Expertise/index.astro";
import Projects from "@components/Projects/index.astro";
import About from "@components/About/index.astro";
import Contact from "@components/Contact/index.astro";
---

<Layout
  title="Zidan Abraham | Full-Stack Developer"
  description="Passionate full-stack developer crafting compelling digital experiences for businesses & individuals. Specializing in web design & development."
  keywords="Zidan Abraham, Zidan Abraham Website, Full-stack developer, Web design, Front-end development, Back-end development, Digital experiences, Website development, Portfolio, Coding, Programming, Responsive design."
>
  <main class="relative w-full overflow-hidden">
    <Hero />
    <Expertise />
    <Projects />
    <About />
    <Contact />
  </main>
</Layout>
