---
import Layout from "@layouts/Layout.astro";
import Hero from "@components/Hero/index.astro";
import Expertise from "@components/Expertise/index.astro";
import Projects from "@components/Projects/index.astro";
import About from "@components/About/index.astro";
import Contact from "@components/Contact/index.astro";
---

<Layout title="Zidan Abraham">
  <main class="relative w-full overflow-hidden">
    <Hero />
    <Expertise />
    <Projects />
    <About />
    <Contact />
  </main>
</Layout>
